<div ng-controller="HashCtrl as hashCtrl">
	<div class="container">

		<br>

	    <div class="row">
	        <div class="col-lg-12">
	        	<form class="form" name="searchForm" ng-controller="SearchCtrl as searchCtrl"
        			ng-submit="searchCtrl.searchHash()">
					<div class="row">
					  <div class="col-lg-12">
					    <div class="input-group">
					      <input type="text" class="form-control" ng-model="searchCtrl.input" ng-trim="false" placeholder="Make a new choice" autofocus >
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="submit">Start</button>
					      </span>
					    </div>
					  </div>
					</div>
				</form>
	        </div>
	    </div>

		<div class=" text-center">
		    <div class="container">
		      <div class="row">
		      	<div class="col col-lg-12 col-sm-12">
		          <h3 style="word-wrap: break-word;">{{ hashCtrl.hash }}</h3>
		        </div>
		      </div>
		    </div> 
		</div>

		<hr>

		<div class="row">
	        <div class="col-lg-12">
	        	<form class="form" name="commentForm" ng-controller="CommentCtrl as commentCtrl"
        			ng-submit="commentCtrl.comment(hashCtrl.hash, hashCtrl)">
					<div class="row">
					  <div class="col-lg-12">
					    <div class="input-group">
					      <input type="text" class="form-control" ng-model="commentCtrl.input" ng-trim="false" placeholder="Add comment" autofocus >
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="submit">Comment</button>
					      </span>
					    </div>
					  </div>
					</div>
				</form>
	        </div>
	    </div>

	    <br>

	    <div class="row" ng-repeat="comment in hashCtrl.comments | orderBy:'-_id' track by $index">
		    <div class="container">
		    	<p style="font-size:20px; word-wrap: break-word;" ><a href="{{ comment.hash }}"><i class="fa fa-location-arrow"> </i> {{ comment.hash | unescape }}</a></p>
		    </div>
	    </div>
	    <div class="row" ng-hide="hashCtrl.comments.length > 0">Nobody commented yet...</div>
	</div>

	<br><br>
	
</div>