<div>
	<div class=" text-center" ng-controller="MainCtrl as mainCtrl">
	    <div class="container">
	      <div class="row">
	        <div class="col col-lg-12 col-sm-12">
	          <h1 style="word-wrap: break-word;">SANDesk.me</h1>
	          <p>Choice is an illusion created between those with power and those without.</p>
	          <br>
	        </div>
	      </div>
	    </div> 
	</div>

	<div class="container">
	    <div class="row">
	        <div class="col-lg-12">
				<form class="form" name="searchForm" ng-controller="SearchCtrl as searchCtrl"
					ng-submit="searchCtrl.searchHash()">
					<div class="row">
					  <div class="col-lg-12">
					    <div class="input-group">
					      <input type="text" class="form-control" ng-model="searchCtrl.input" ng-trim="false" placeholder="Make a choice" autofocus >
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="submit">Start</button>
					      </span>
					    </div>
					  </div>
					</div>
				</form>
	        </div>
	    </div>
	</div>
</div>