<!DOCTYPE html>
<html ng-app="sandesk" lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<base href="/">
	<meta charset="utf-8">
	<title>SANDesk.me - review everything</title>
	<meta name="description" content="SANDesk.me is a hackathon idea to provide interactive colaboration and challandging with friend in erudition using web technologies and extreeeeeme programming">
	<meta name="keywords" content="SANDesk, SANDesk.me, hackathon, friends, erudition, challange, web, programming, angular, neo4j" />
	<meta name="author" content="Adamiv Anton, Andrew Dacenko" />
	<!-- Viewport mobile tag for sensible mobile support -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/paper/bootstrap.min.css" />
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<style>
	/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  overflow: hidden;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

</style>
</head>
<body>

<div style="border-radius:0px;" class="navbar navbar-inverse">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-nav">
      	<li class="active" ><a href="http://bitbucket.org/andrewdacenko/sandesk.me">[ Souce Code ]</a></li>
      	<li><a href="/">Main</a></li>
      	<li><a href="http://1d20.kiev.ua">Contact Us</a></li>
      	<li><a style="cursor:pointer" data-toggle="modal" data-target="#What">What is it?</a></li>
      	<li><a style="cursor:pointer" data-toggle="modal" data-target="#Top">Rating</a></li>
      </ul>
    </div>
</div>

<div ng-view></div>
<!-- Large modal -->

<div class="modal fade" id="What" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <h2 align="center">What? o_O</h2>
      <h4 align="center">Some instructions:</h4>
      <h4 align="center">1. You can choose any word or phrase</h4>
      <h4 align="center">2. You can comment your choise</h4>
      <h4 align="center">3. Your comment is a new phrase O_o</h4>
      <h4 align="center">3. DRY. The most exsotic words are always at the top.</h4>
      <br>
      <h4 align="center"><iframe width="560" height="315" src="//www.youtube.com/embed/v9GFyoyxvSo" frameborder="0" allowfullscreen></iframe></h4>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Top" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Sand leaders</h4>
      </div>
      <div class="modal-body" ng-controller="LeaderCtrl as leaders">

      	<ul class="nav nav-tabs nav-justified">
		  <li class="active"><a href="#commentable" data-toggle="tab">Commentable</a></li>
		  <li class=""><a href="#usable" data-toggle="tab">Usable</a></li>
		</ul>

		<div id="myTabContent" class="tab-content">
		  <div class="tab-pane fade active in" id="commentable">
		    <div class="row" ng-repeat="leader in leaders.commentable">
	        	<h5 style="word-wrap: break-word;"  align="center"><a href="{{ leader.hash }}">{{ leader.hash | unescapeUri  }}</a></h5>
	        </div>
		  </div>
		  <div class="tab-pane fade" id="usable">
		    <div class="row" ng-repeat="leader in leaders.usable">
	        	<h5 style="word-wrap: break-word;"  align="center"><a href="{{ leader.hash }}">{{ leader.hash | unescapeUri  }}</a></h5>
	        </div>
		  </div>
  		</div>

      </div>
    </div>
  </div>
</div>


<div class="footer">
  <div class="container">
    <p class="text-muted" style="margin-top:10px;"><a href="hackaton">#hackaton</a>, <a href="hackaton">@hackaton</a>, <a href="12h">#12h</a>, <a href="12h">@12h</a>, <a href="KPI">#KPI</a>, <a href="KPI">@KPI</a>, <a href="sandeskme">#sandeskme</a>, <a href="sandeskme">@sandeskme</a>, <a href="sandesk">#sandesk</a>, <a href="sandesk">@sandesk</a>, <a href="sandesk_me">#sandesk_me</a>, <a href="sandesk_me">@sandesk_me</a>, <a href="python">#python</a>, <a href="python">@python</a>, <a href="backend">#backend</a>, <a href="backend">@backend</a>, <a href="frontend">#frontend</a>, <a href="frontend">@frontend</a>, <a href="angular">#angular</a>, <a href="angular">@angular</a>, <a href="mongo">#mongo</a>, <a href="mongo">@mongo</a>, <a href="mongodb">#mongodb</a>, <a href="mongodb">@mongodb</a>, <a href="node">#node</a>, <a href="node">@node</a>, <a href="nodejs">#nodejs</a>, <a href="nodejs">@nodejs</a>, <a href="javascript">#javascript</a>, <a href="javascript">@javascript</a>, <a href="neo4j">#neo4j</a>, <a href="neo4j">@neo4j</a>, <a href="express">#express</a>, <a href="express">@express</a>, <a href="expressjs">#expressjs</a>, <a href="expressjs">@expressjs</a>, <a href="npm">#npm</a>, <a href="npm">@npm</a>, <a href="do">#do</a>, <a href="do">@do</a>, <a href="digitalocean">#digitalocean</a>, <a href="digitalocean">@digitalocean</a>, <a href="nginx">#nginx</a>, <a href="nginx">@nginx</a>, <a href="ubuntu">#ubuntu</a>, <a href="ubuntu">@ubuntu</a>, <a href="proxy">#proxy</a>, <a href="proxy">@proxy</a>, <a href="rest">#rest</a>, <a href="rest">@rest</a>, <a href="api">#api</a>, <a href="api">@api</a>, <a href="rest_api">#rest_api</a>, <a href="rest_api">@rest_api</a>, <a href="sailsjs">#sailsjs</a>, <a href="sailsjs">@sailsjs</a>, <a href="redbull">#redbull</a>, <a href="redbull">@redbull</a>, <a href="vk">#vk</a>, <a href="vk">@vk</a>, <a href="facebook">#facebook</a>, <a href="facebook">@facebook</a>, <a href="twitter">#twitter</a>, <a href="twitter">@twitter</a>, <a href="bootstrap">#bootstrap</a>, <a href="bootstrap">@bootstrap</a>, <a href="jade">#jade</a>, <a href="jade">@jade</a>, <a href="redis">#redis</a>, <a href="redis">@redis</a>, <a href="json">#json</a>, <a href="json">@json</a>, <a href="habr">#habr</a>, <a href="habr">@habr</a>, <a href="habrahabr">#habrahabr</a>, <a href="habrahabr">@habrahabr</a>, <a href="cypher">#cypher</a>, <a href="cypher">@cypher</a>, <a href="graphdb">#graphdb</a>, <a href="graphdb">@graphdb</a>, <a href="nosql">#nosql</a>, <a href="nosql">@nosql</a>, <a href="sql">#sql</a>, <a href="sql">@sql</a>, <a href="git">#git</a>, <a href="git">@git</a>, <a href="bitbucket">#bitbucket</a>, <a href="bitbucket">@bitbucket</a>, <a href="guitar">#guitar</a>, <a href="guitar">@guitar</a>, <a href="selfie">#selfie</a>, <a href="selfie">@selfie</a>, <a href="cat">#cat</a>, <a href="cat">@cat</a>, <a href="dog">#dog</a>, <a href="dog">@dog</a>, <a href="grumpy">#grumpy</a>, <a href="grumpy">@grumpy</a>, <a href="happy">#happy</a>, <a href="happy">@happy</a>, <a href="students">#students</a>, <a href="students">@students</a>, <a href="achievement">#achievement</a>, <a href="achievement">@achievement</a>, <a href="mac">#mac</a>, <a href="mac">@mac</a>, <a href="ios">#ios</a>, <a href="ios">@ios</a>, <a href="elementary">#elementary</a>, <a href="elementary">@elementary</a>, <a href="server">#server</a>, <a href="server">@server</a>, <a href="client">#client</a>, <a href="client">@client</a>, <a href="schweppes">#schweppes</a>, <a href="schweppes">@schweppes</a>, <a href="songs">#songs</a>, <a href="songs">@songs</a>, <a href="freestyle">#freestyle</a>, <a href="freestyle">@freestyle</a>, <a href="sunset">#sunset</a>, <a href="sunset">@sunset</a>, <a href="programming">#programming</a>, <a href="programming">@programming</a>, <a href="development">#development</a>, <a href="development">@development</a>, <a href="testing">#testing</a>, <a href="testing">@testing</a>, <a href="fun">#fun</a>, <a href="fun">@fun</a>, <a href="profit">#profit</a>, <a href="profit">@profit</a>, <a href="gates">#gates</a>, <a href="gates">@gates</a>, <a href="durov">#durov</a>, <a href="durov">@durov</a>, <a href="mdk">#mdk</a>, <a href="mdk">@mdk</a>, <a href="anton">#anton</a>, <a href="anton">@anton</a>, <a href="andrew">#andrew</a>, <a href="andrew">@andrew</a>, <a href="lyapis">#lyapis</a>, <a href="lyapis">@lyapis</a>, <a href="godaddy">#godaddy</a>, <a href="godaddy">@godaddy</a>, <a href="dns">#dns</a>, <a href="dns">@dns</a>, <a href="cdn">#cdn</a>, <a href="cdn">@cdn</a>, <a href="service">#service</a>, <a href="service">@service</a>, <a href="kyiv">#kyiv</a>, <a href="kyiv">@kyiv</a>, <a href="ukraine">#ukraine</a>, <a href="ukraine">@ukraine</a>, <a href="ssl">#ssl</a>, <a href="ssl">@ssl</a>, <a href="mvc">#mvc</a>, <a href="mvc">@mvc</a>, <a href="controllers">#controllers</a>, <a href="controllers">@controllers</a>, <a href="factory">#factory</a>, <a href="factory">@factory</a>, <a href="filter">#filter</a>, <a href="filter">@filter</a>, <a href="aggreation">#aggreation</a>, <a href="aggreation">@aggreation</a>, <a href="relationships">#relationships</a>, <a href="relationships">@relationships</a>, <a href="stats">#stats</a>, <a href="stats">@stats</a>, <a href="static">#static</a>, <a href="static">@static</a>, <a href="words">#words</a>, <a href="words">@words</a>, <a href="comments">#comments</a>, <a href="comments">@comments</a>, <a href="ajax">#ajax</a>, <a href="ajax">@ajax</a>, <a href="xhr">#xhr</a>, <a href="xhr">@xhr</a>, <a href="team">#team</a>, <a href="team">@team</a>, <a href="1d20">#1d20</a>, <a href="1d20">@1d20</a>, <a href="agile">#agile</a>, <a href="agile">@agile</a>, <a href="uml">#uml</a>, <a href="uml">@uml</a>, <a href="er">#er</a>, <a href="er">@er</a>, <a href="databases">#databases</a>, <a href="databases">@databases</a>, <a href="db">#db</a>, <a href="db">@db</a>, <a href="admin">#admin</a>, <a href="admin">@admin</a>, <a href="user">#user</a>, <a href="user">@user</a>, <a href="meteor">#meteor</a>, <a href="meteor">@meteor</a>, <a href="brainstorage">#brainstorage</a>, <a href="brainstorage">@brainstorage</a>, <a href="rabota_ua">#rabota_ua</a>, <a href="rabota_ua">@rabota_ua</a>, <a href="compatibl">#compatibl</a>, <a href="compatibl">@compatibl</a>, <a href="psa">#psa</a>, <a href="psa">@psa</a>, <a href="dit">#dit</a>, <a href="dit">@dit</a>, <a href="tracker">#tracker</a>, <a href="tracker">@tracker</a>, <a href="bicycle">#bicycle</a>, <a href="bicycle">@bicycle</a>, <a href="september">#september</a>, <a href="september">@september</a>, <a href="2014">#2014</a>, <a href="2014">@2014</a>, <a href="software">#software</a>, <a href="software">@software</a>, <a href="boobs">#boobs</a>, <a href="boobs">@boobs</a>, <a href="soft">#soft</a>, <a href="soft">@soft</a>, <a href="theme">#theme</a>, <a href="theme">@theme</a>, <a href="css3">#css3</a>, <a href="css3">@css3</a>, <a href="html">#html</a>, <a href="html">@html</a>, <a href="html5">#html5</a>, <a href="html5">@html5</a>, <a href="models">#models</a>, <a href="models">@models</a>, <a href="ip">#ip</a>, <a href="ip">@ip</a>, <a href="keyboard">#keyboard</a>, <a href="keyboard">@keyboard</a>, <a href="table">#table</a>, <a href="table">@table</a>, <a href="king">#king</a>, <a href="king">@king</a>, <a href="millions">#millions</a>, <a href="millions">@millions</a>, <a href="dollar">#dollar</a>, <a href="dollar">@dollar</a>, <a href="anti_flag">#anti_flag</a>, <a href="anti_flag">@anti_flag</a>, <a href="diploma">#diploma</a>, <a href="diploma">@diploma</a>, <a href="os">#os</a>, <a href="os">@os</a>, <a href="video">#video</a>, <a href="video">@video</a></p>
  </div>
</div>

<script type="text/ng-template" id="javascripts/main.html">
	<div>
		<div class=" text-center" ng-controller="MainCtrl as mainCtrl">
		    <div class="container">
		      <div class="row">
		        <div class="col col-lg-12 col-sm-12">
		          <h1 style="word-wrap: break-word;">SANDesk.me</h1>
		          <p>Choice is an illusion created between those with power and those without.</p>
		          <br>
		        </div>
		      </div>
		    </div> 
		</div>

		<div class="container">
		    <div class="row">
		        <div class="col-lg-12">
					<form class="form" name="searchForm" ng-controller="SearchCtrl as searchCtrl"
						ng-submit="searchCtrl.searchHash()">
						<div class="row">
						  <div class="col-lg-12">
						    <div class="input-group">
						      <input type="text" class="form-control" ng-model="searchCtrl.input" ng-trim="false" placeholder="Make a choice" autofocus >
						      <span class="input-group-btn">
						        <button class="btn btn-default" type="submit">Start</button>
						      </span>
						    </div>
						  </div>
						</div>
					</form>
		        </div>
		    </div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="javascripts/hash.html">
<div ng-controller="HashCtrl as hashCtrl">
	<div class="container">

			<br>

		    <div class="row">
		        <div class="col-lg-12">
		        	<form class="form" name="searchForm" ng-controller="SearchCtrl as searchCtrl"
	        			ng-submit="searchCtrl.searchHash()">
						<div class="row">
						  <div class="col-lg-12">
						    <div class="input-group">
						      <input type="text" class="form-control" ng-model="searchCtrl.input" ng-trim="false" placeholder="Make a new choice" autofocus >
						      <span class="input-group-btn">
						        <button class="btn btn-default" type="submit">Start</button>
						      </span>
						    </div>
						  </div>
						</div>
					</form>
		        </div>
		    </div>

			<div class=" text-center">
			    <div class="container">
			      <div class="row">
			      	<div class="col col-lg-12 col-sm-12">
			          <h3 style="word-wrap: break-word;">{{ hashCtrl.hash }}</h3>
			        </div>
			      </div>
			    </div> 
			</div>

			<hr>

			<div class="row">
		        <div class="col-lg-12">
		        	<form class="form" name="commentForm" ng-controller="CommentCtrl as commentCtrl"
	        			ng-submit="commentCtrl.comment(hashCtrl.hash, hashCtrl)">
						<div class="row">
						  <div class="col-lg-12">
						    <div class="input-group">
						      <input type="text" class="form-control" ng-model="commentCtrl.input" ng-trim="false" placeholder="Add comment" autofocus >
						      <span class="input-group-btn">
						        <button class="btn btn-default" type="submit">Comment</button>
						      </span>
						    </div>
						  </div>
						</div>
					</form>
		        </div>
		    </div>

		    <br>

		    <div class="row" ng-repeat="comment in hashCtrl.comments | orderBy:'-_id' track by $index">
			    <div class="container">
			    	<p style="font-size:20px; word-wrap: break-word;" ><a href="{{ comment.hash | unescapeUri }}"><i class="fa fa-location-arrow"> </i> {{ comment.hash | unescapeUri }}</a></p>
			    </div>
		    </div>
		    <div class="row" ng-hide="hashCtrl.comments.length > 0">Nobody commented yet...</div>
		</div>

		<br><br>
		
	</div>
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
	(function() {
    var app = angular.module('sandesk', ['ngRoute']);

    app.config(['$routeProvider', '$locationProvider',
        function($routeProvider, $locationProvider) {
            $routeProvider.
            when('/', {
                templateUrl: 'javascripts/main.html',
                // controller: 'MainCtrl'
            }).
            when('/:hashId', {
                templateUrl: 'javascripts/hash.html',
                // controller: 'HashCtrl'
            }).
            otherwise({
                redirectTo: '/'
            });

            $locationProvider.html5Mode(true);
        }
    ]);

    app.controller('MainCtrl', function($scope) {
        this.data = 'mainC';
    });

    app.controller('HashCtrl', ['$scope', '$location', '$http',
        function($scope, $location, $http) {
            var self = this;
            console.log('Call hash ctrl', new Date())
            self.comments = [];

            self.hash = $location.path().substr(1, $location.path().length - 1);
            console.log(self.hash);
            // self.hash = encodeURIComponent($location.path().substr(1, $location.path().length - 1));

            console.log($location.path());
            console.log(encodeURIComponent($location.path().substr(1, $location.path().length - 1)))
            console.log(self.hash);

            if (self.hash === '.') {
				self.hash = 'root';
			}
			if (self.hash === '..') {
				self.hash = 'parent';
			};
            
            // console.log('HashCtrl `prereq`:', self.hash);
            $http.post('/' + self.hash).success(function(response) {
            	// console.log('HashCtrl request :', self.hash);
            	// console.log('HashCtrl response:', response);
            	console.log(self.hash);
            // $http.post('/' + self.hash).success(function(response) {
                self.comments = response;
            }).error(function(response) {
                // console.log("Server connect error: " + response);
            });
        }
    ]);

    app.filter('unescape', function() {
        return function(text) {
            return unescape(text);
        }
    });

    app.filter('unescapeUri', function() {
        return function(text) {
        	if (text === '.') {
				text = 'root';
			}
			if (text === '..') {
				text = 'parent';
			};
            return decodeURIComponent(unescape(text));
            return unescape(text);
        }
    });

    app.controller('SearchCtrl', ['$scope', '$location', '$http',
        function($scope, $location, $http) {
            this.input = '';
            this.searchHash = function() {
            	if (this.input === '.') {
					this.input = 'root';
				}
				if (this.input === '..') {
					this.input = 'parent';
				};

                $location.path('/' + this.input);
            	this.input = '';
            };
        }
    ]);

    app.controller('CommentCtrl', ['$scope', '$location', '$http',
        function($scope, $location, $http) {
            var self = this;
            self.input = '';
            self.comment = function(pageHash, hashCtrl) {
            	var hash = ''+pageHash;
				if (self.input === '.') {
					self.input = 'root';
				}
				if (self.input === '..') {
					self.input = 'parent';
				};
				if (hash === '.') {
					hash = 'root';
				}
				if (hash === '..') {
					hash = 'parent';
				};
				if (hash.indexOf('http') !== -1) {
					// hash = decodeURIComponent(hash);
				};
                var data = {
                    comment: self.input,
                    hash: hash
                };

                $http.post('/', data).success(function(response) {
                	// console.log('CommentCtrl response:', response);
                    hashCtrl.comments.push(response);
                }).error(function(response) {
                    // console.log("Server connect error: " + response);
                });
                self.input = '';
            };
        }
    ]);

    app.controller('LeaderCtrl', ['$scope', '$location', '$http',
        function($scope, $location, $http) {
            var self = this;
            self.commentable = [];
            self.usable = [];
            self.hash = $location.path().substr(1, $location.path().length - 1);
            if (self.hash === '.') {
				self.hash = 'root';
			}
			if (self.hash === '..') {
				self.hash = 'parent';
			};
            $http.post('/', {
                top: 1
            }).success(function(response) {
                // console.log(response);
                self.commentable = response;
            }).error(function(response) {
                // console.log("Server connect error: " + response);
            });
            $http.post('/', {
                top: 2
            }).success(function(response) {
                // console.log(response);
                self.usable = response;
            }).error(function(response) {
                // console.log("Server connect error: " + response);
            });
        }
    ]);

})();
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54547817-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
